 
  <section class="enter">
    <form name="form" id="enter" novalidate>
      <h2>Enter the Meal Details</h2>
      <hr>
      <div class="enterLeft"> 
        <h3>Base Meal Price:  <span class="symbol">$</span></h3>
        <h3>Tax Rate: % </h3>
        <h3>Tip Percentage: % </h3>
      </div>

      <div class="enterRight">
        <h3> <input id="mealInput" type="number" name="mealPrice" ng-model="mealPrice" placeholder="0" required></h3>
        <h3><input id="taxInput" type="number" ng-model="taxRate" name="taxRate" placeholder="0" required></h3>
        <h3><input id="tipInput" type="number" ng-model="tipRate" name="tipRate" placeholder="0" required></h3>
      </div>
      <div class="errors">
        <h3 ng-if="form.mealPrice.$error.required && showError === true">Please enter a meal price.</h3>
        <h3 ng-if="form.taxRate.$error.required && showError === true">Please enter a tax rate.</h3>
        <h3 ng-if="form.tipRate.$error.required && showError === true">Please enter a meal price.</h3>
      </div>
      <div style="clear: both"></div>

      <div id="buttons">
        <button id="subButton" ng-click="submit()">Submit</button>
        <button id="cancelButton" ng-click="cancel()">Cancel</button>
      </div>
    </form>
  </section>

<section id="customerCharges">
  <form id="charges">
    <h2>Customer Charges</h2>
    <hr>
    <div class="customerSubs">
      <h3> <span class="charges">Subtotal</span>  {{customerCharges.subTotal | currency}}</h3>
      <h3> <span class="charges">Tip</span>  {{ customerCharges.tip | currency}}</h3> 
    </div>
    <hr id="subLine">
    <h3 class="customerSubs"><span class="charges"> Total </span>  {{ customerCharges.total | currency}}</h3>
  </form>
</section>