h1 {
  text-align: center;
  font-size: 2.8em;
}

main {
  text-align: center;
}

.enter {
  text-align: center;
  width: 40%;
  margin: 2em 30%;
  border: 2px solid black;
}

.enter h2 {
  text-align: left;
  margin-left: 1em;
  margin: .4em .5em .4em 1em;
}

hr {
  border: 1px solid black;
}

.enterLeft {
  float: left;
  width: 50%;
  text-align: right;
  margin-right: .5em;
  margin-left: .5em
}

.enterLeft p {
  padding-right: 1em;
}

.enterRight {
  float: left;
  width: 45%;
  text-align: left;
}

.enterLeft h3 {
  margin-top: 1.5em;
}

.enterRight h3 {
  margin-top: 1.5em;
}

.enterRight h3 input{
  border: 2px solid black;
}

#mealInput {
  width: 120px;
}

#taxInput,
#tipInput {
  width: 50px;
}


#buttons {
  margin-top: 0em;
  margin-bottom: 2em;
  text-align: center;
}

#subButton,
#cancelButton,
#resetButton{
  background: white;
  border: 2px solid black;
  box-shadow: 2px 2px black;
  font-size: 1.1em
}

#subButton {
  margin-right: .5em;
}

#cancelButton {
  margin-left: .5em;
}

#customerCharges {
  text-align: left;
  width: 40%;
  display: inline-block;
  border: 2px solid black;
  margin: 0 30%;
}

#customerCharges h2 {
  text-align: left;
  margin-left: 1em;
  margin: .4em .5em .4em 1em;
}

.customerSubs {
  text-align: right;
  margin-right: 55%;
  margin-bottom: 1em;
}

#subLine {
  margin-right: 50%;
  margin-left: 15%;
}

#earnings {
  width: 40%;
  border: 2px solid black;
  margin: 1em 30%;
  display: inline-block;
}

#earnings h2 {
  text-align: left;
  margin-left: 1em;
  margin: .4em .5em .4em 1em;
}


.container {
  width: 70%;
  margin: 0 auto;
  vertical-align: top;
}

.symbol {
  padding-left: .25em;
  padding-right: .25em;
}

.errors {
  text-align: center;
  display: inline-block;
  width: 80%;
  margin-bottom: -3em;
  margin-left: 10%;
  margin-right: 10%;
}

.charges {
  padding-right: 0.5em;
}

.earningsText {
  display: inline-block;
  padding-right: 0.5em;
  text-align: right;
  margin-left: 0.5em;
}

.earningsNums {
  display: inline-block
}

.reset {
  margin-top: .8em;
}

.links {
  text-align: center;
  font-size: 1.2em;
}

ul li {
  display: inline-block;
  list-style: none;
  padding: 0 1em;
}

ul li a {
  text-decoration: none;
  color: #333;
}

ul li:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.homeText {
  text-align: center;
  font-size: 1.4em;
  line-height: 1.5;
  margin: 3em 25% 0 25%;
}

.mealContainer {
  width: 100%;
  text-align: center;
}

.earnings {
  
}

.buttonDiv {
  text-align: center;
}

.loading {
  position:relative;
  height:100%;
}
.loading:before {
  position: absolute;
  z-index:1000;
}
.animate-view-container { position:relative; min-height: 100%; }
.animate-view.ng-enter {
    transition:0.5s linear all;

}
.animate-view.ng-enter { opacity:0; z-index:100;}
.animate-view.ng-enter.ng-enter-active { opacity:1; }
.animate-view.ng-leave { opacity:1; z-index:99; }
.animate-view.ng-leave.ng-leave-active { opacity:0; }
